:root {
  --header-colour: #373c41;
  --shadow-colour: #202028C0;
  --bg-colour: #4b545e;
  --fg-colour: #eeeeee;
  --hover-bg-colour: #10102040;
  --active-bg-colour: #ffffff20;
  --hover-fg-colour: #c0c0c8;
  --active-fg-colour: #9090a0;
  --link-colour: #ff00ff;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-colour: #cbd0d6;
    --shadow-colour: #202028C0;
    --bg-colour: #a6b0bc;
    --fg-colour: #303040;
    --hover-bg-colour: #ffffff20;
    --active-bg-colour: #10102020;
    --hover-fg-colour: #eeeeee;
    --active-fg-colour: #484860;
    --link-colour: #505058;
  }
}

.icon {
  width: 2.5em;
  float: left;
  margin-right: 0.5em;
  border-radius: 0.5em;
}

header {
  background-color: var(--header-colour);
  padding: 0.5em 1.5em;
  box-shadow: 0 0.2em 2.5em var(--shadow-colour);
}

.action {
  background: transparent;
  border-color: var(--fg-colour);
  border-width: 0.2em;
  border-radius: 0.5em;
  border-style: solid;
  padding: 0.8em;
  outline: none;
  margin: 0 0.5em;
  color: var(--fg-colour);
}
.action:hover {
  background: var(--hover-bg-colour);
  border-color: var(--hover-fg-colour);
}
button.action:active {
  background: var(--active-bg-colour);
  border-color: var(--fg-colour);
}
input.action:focus {
  background: var(--active-bg-colour);
  border-color: var(--fg-colour);
}

.right {
  float: right;
}

canvas {
  width: calc( 90% - 0.6em );
  height: calc( ( 100vh - 4em ) * 0.8 - 0.6em );
  margin: calc( ( 100vh - 4em ) * 0.1  - 0.6em ) 5vw;
  border-color: var(--fg-colour);
  border-width: 0.3em;
  border-radius: 1em;
  border-style: solid;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-colour);
}

#recenter {
  position: fixed;
  left: calc( 5vw + 1em );
  bottom: calc( ( 100vh - 4em ) * 0.1 + 1.9em );
  -webkit-mask: url("/locate.svg");
  mask: url("/locate.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 3em;
  height: 3em;
  background-color: var(--fg-colour);
}
#recenter:hover {
  background-color: var(--hover-fg-colour);
}
#recenter:active {
  background-color: var(--active-fg-colour);
}

.svg {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  color: var(--fg-colour);
}

a {
  color: var(--link-colour);
  text-decoration: none;
  font-style: italic;
}
a:hover {
  color: var(--hover-fg-colour);
}
